body {
    margin: 0;
    padding: 0;
    background-color: rgb(196, 215, 221);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    /* top: 20%; */
    transform: translate(0, 50%);
    text-align:center;
    background-color: rgb(241, 246, 248);
    border-radius: 15px;
    max-width: 20%;
    min-height: 50%;
    margin: auto;
    padding: 10px;
    
}
/* #qr-box {
      
    max-width: 35%;
    
} */
#desc {
    color: lightslategrey;
}
img{
    min-width:300px;
    max-height:300px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }