body {
    margin: 0;
    padding: 0;
    background-color: hsl(194, 27%, 82%);
}

.outfit-forText {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
#container img {
    width: 100%;
    border-radius: 15px;
}
#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(197, 33%, 96%);
    border-radius: 15px;
    width: 290px;
    margin: 0 auto;
    padding: 10px;
    /* box-shadow: 1px 1px 3px grey; */
    text-align: center; 
}

p {
    font-size: 15px;
    font-weight:400;
    color: hsl(210, 11%, 47%);
}
.attribution { font-size: 11px;}
.attribution a { color: hsl(228, 42%, 43%); }